.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;

  &__btn {
    margin: 14px;
    background-color: $silver;
    color: $white;
    border-radius: 28px;
    border: 1px solid $dark-grey;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px $light-grey;
    opacity: .8;

    &:active {
      position: relative;
      top: 1px;
    }

    &:focus {
      outline: 0;
    }

    &--active {
      opacity: 1;

      &:hover {
        background-color: $dark-grey;
        color: $ghost;
      }
    }
  }
}
