// color variables
$white: #FFFFFF;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #A9A9A9;
$light-grey: #D3D3D3;
$ghost: #F8F8FF;
$silver: rgba(192, 192, 192, 0.95);
$transparent: rgba(255, 255, 255, 0.4);
